
ImageBrowser/obj/*
ImageBrowser/bin/*
ImageBrowserTest/obj/*
ImageBrowserTest/bin/*
.vs/ImageBrowser/*
.vs/ImageBrowserTest/*
.idea/*
ImageBrowser.sln.DotSettings.user
packages/*

.vs/ProjectEvaluation/
